@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: SignPainter;
  src: url(./assets/SignPainterHouseScript.ttf);
} */
@font-face {
  font-family: Schoolbook;
  src: url(./assets/Schoolbook.ttf);
}
:root {
  color-scheme: light dark;
  /** Primary colors */
  --primary: #068da9;
  --highlight: #19a7ce;
  --bright-white: #ffffff;
  --cool-black: #101820;
}
body {
  margin: 0;
}

h3 {
  font-size: 1.85rem;
  line-height: 2rem;
}